body {
  font-family: sans-serif;
}

header {
  text-align: center;
}

h1 {
  width: 250px;
  margin: 0 auto;
  font-size: 2.5rem;
  border-bottom: 1px solid #000;
}

#board {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 80vh;
  margin: 0 auto;
  width: 800px
}

#board>div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 5rem;
}

#board>div:nth-child(2), #board>div:nth-child(8) {
  border-left: 3px solid #000;
  border-right: 3px solid #000;
}

#board>div:nth-child(4), #board>div:nth-child(6) {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

#board>div:nth-child(5) {
  border: 3px solid #000;
}

.btn-symbol {
  margin: 15px 10px 0;
  padding: 10px 25px;
  background: #eee;
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  font-size: 1.1rem;
  background-color: #333;
  color: #fff;
}

#start-screen {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.863);
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

#start-screen p {
  margin: 9px;
}

#start-screen input {
  margin: 0 20px;
  padding: 10px;
}

#start-screen button {
  position: absolute;
  top: 530px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: green;
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
}